<div class="container-fluid">
  <div class="header">
    <div class="column">
      <img src="../assets/logo2.jpeg" class="header-logo" alt="">
      <p class="underlogo">Kamjan - Tetove • Tel: +389(0)</p>
    </div>
    <div class="column">
      <h2>Zdrukthtaria Frasheri AN</h2>
      <div class="paragraphs">
      <p class="margin-0">E.D.B: 4035021504885</p>
      <p class="margin-0">ZS: 330301834160172</p>
      <p class="margin-0">Tel: +38970999888</p>
      <p class="margin-0">frasheri.an@hotmail.com</p>
      </div>
      
    </div>
  </div>
</div>

<hr class="myHr">

<div class="container-fluid">
  <div class="mid">
    <div class="column d-flex">
      <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <label for="deri">Deri: </label>
      <input *ngIf="!place" type="text" name="target" class="place-input" id="deri" ngModel>
    </form>
      <h5 (click)="place = '' ">{{place}}</h5>
    </div>
    <div class="column">
      <select *ngIf="!invoiceType" #selecet (change)="selectedInvoice(selecet.value)">
        <option>Select</option>
          <option value="Fakture">
            Fakture
          </option>
          <option value="Profakture">
            Profakture
          </option>
        </select>
      <h3 (click)="invoiceType = ''" *ngIf="invoiceType">{{invoiceType}}</h3>
      <h6>Numri Serik: <p>12353412551</p></h6>
      <h6>Data: 14.02.2022 13:34</h6>
    </div>
  </div>
</div>

<br><br>


<form [formGroup]="invoiceForm" >
	<table border=1>
		<thead>
			<th>Nr</th>
			<th>Pershkrimi</th>
			<th>Njesia Matese</th>
      <th>Sasia</th>
      <th>Cmimi</th>
      <th>Perqindja</th>
      <th>DDV</th>
      <th>Cmimi i %</th>
      <th>Totali</th>
		</thead>
		<tbody formArrayName="Rows">
			<tr *ngFor="let itemrow of invoiceForm.controls.Rows.controls; let i=index;let l=last"
				[formGroupName]="i">
				<td>{{i+1}}</td>
				<td>
					<input formControlName="description" class="form-control">
        </td>
				<td>
          <input formControlName="measuringUnit" class="form-control">
				</td>
        <td>
          <input formControlName="quantity" class="form-control" (keyup)="getQuantity($event)">
        </td>
        <td>
          <input formControlName="price" class="form-control" (keyup)="getPrice($event)">
        </td>
        <td>
          18%
        </td>
        <td>
          {{ddv.toFixed(2) | number}}
        </td>
        <td>

        </td>
        <td>
          <!-- <p *ngIf="total">{{total.toFixed(2) | number}}</p> -->
          <p *ngIf="totalPayment">{{totalPayment.toFixed(2) | number}}</p>
        </td>
			</tr>
		</tbody>
	</table>
<button type="button" (click)="addNewRow()" class="btn btn-primary">+</button>
<!-- <button *ngIf="invoiceForm.controls.Rows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete</button> -->
</form>

<div class="total-div">
  <table>
    <thead>
      <tr>
      <th>
        Pagesa
      </th>
      <td>
        {{total.toFixed(2) | number}}
      </td>
    </tr>
    <tr>
      <th>
        DDV
      </th>
      <td>
        {{ddv.toFixed(2) | number}}
      </td>
    </tr>
      <tr>
        <th>
          Totali
        </th>
        <td>
          {{totalPayment.toFixed(2) | number}}
        </td>
      </tr>
     
    </thead>
    <tr>
      
     
    </tr>
  </table>
</div>
<br><br>

<div class="container-fluid">
  <div class="footer">
    <div class="column">
      <p style="border-bottom:1px solid ; padding: 30px;">Fakturoi</p>
    </div>
    <div class="column">
      <p style="border-bottom:1px solid ; padding: 30px;">Pranoi</p>
    </div>
    <div class="column">
      <p style="border-bottom:1px solid ; padding: 30px;">Drejtori</p>
    </div>
  </div>
</div>

{{invoiceForm.value | json}}

